name: core-prebuild
on:
  push:
    tags:
      - '*'
jobs:
  prebuild-for-platform:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, macos-latest, windows-2016]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - uses: actions/setup-python@v1
        with:
          python-version: '2.7.x'
      - name: install
        run: yarn --frozen-lockfile --ignore-scripts
      - name: fetch libcore
        run: yarn preinstall
      - name: config gcc
        if: runner.os == 'Linux'
        run: sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 700 --slave /usr/bin/g++ g++ /usr/bin/g++-7
      - name: prebuild for electron 9.2
        run: npx node-pre-gyp configure build package --runtime=electron --target=9.2.0 --build-from-source --dist-url=https://electronjs.org/headers
      - name: prebuild for electron 11.1
        run: npx node-pre-gyp configure build package --runtime=electron --target=11.1.0 --build-from-source --dist-url=https://electronjs.org/headers
      - name: prebuild for node 12
        run: npx node-pre-gyp configure build package --target=12.16.0
      - name: publish
        env:
          NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx node-pre-gyp-github publish
