name: core-prebuild
on: [push, pull_request]

jobs:
  prebuild-for-platform:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-2019]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6.x'
      - name: install
        run: yarn --frozen-lockfile --ignore-scripts
      - name: fetch libcore
        run: yarn preinstall
      - name: config gcc
        if: runner.os == 'Linux'
        run: sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 700 --slave /usr/bin/g++ g++ /usr/bin/g++-9
      - name: prebuild for node 12
        run: npx  @mapbox/node-pre-gyp configure rebuild package --target=12.16.0
      - name: clean
        run: npx  @mapbox/node-pre-gyp clean
      - name: prebuild for node 14
        run: npx  @mapbox/node-pre-gyp configure rebuild package --target=14.17.0
      - name: clean
        run: npx  @mapbox/node-pre-gyp clean
      - name: prebuild for electron 13.1
        run: npx  @mapbox/node-pre-gyp configure build package --runtime=electron --target=13.1.0 --build-from-source --dist-url=https://electronjs.org/headers
